---
interface Props {
	depth: number;
	slug: string;
	text: string;
}

const { depth, slug, text } = Astro.props;
---

<li class:list={['[&+&]:mt-2.5 leading-none', { 'pl-3.5': depth === 3 }]}>
	<a class="block text-sm text-gray-500 hover:text-gray-950" href={`#${slug}`}>{text}</a>
</li>
